name: 1b.Build Canonical Image (PR + Main)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

permissions:
  contents: read

env:
  DH_USERNAME: ${{ secrets.DOCKER_HUB_LOGIN }}
  DH_TOKEN: ${{ secrets.DOCKER_HUB_PWD }}
  IMAGE_NAME: ${{ secrets.DOCKER_HUB_LOGIN }}/verana-node

jobs:
  build-canonical-image:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DH_USERNAME }}
          password: ${{ env.DH_TOKEN }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=ref,event=branch
            type=ref,event=pr

      - name: Compute LDFLAGS
        run: |
          VERSION="dev"
          COMMIT=$(git rev-parse --short HEAD)
          LDFLAGS="-X github.com/cosmos/cosmos-sdk/version.Name=verana \
          -X github.com/cosmos/cosmos-sdk/version.AppName=verana \
          -X github.com/cosmos/cosmos-sdk/version.Version=${VERSION} \
          -X github.com/cosmos/cosmos-sdk/version.Commit=${COMMIT}"
          echo "LDFLAGS=${LDFLAGS}" >> $GITHUB_ENV

      - name: Build and push canonical image (branch/PR)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/veranad.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            LDFLAGS=${{ env.LDFLAGS }}
