name: 1b.Build Canonical Image (Branch/PR)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'

permissions:
  contents: read
  packages: write

env:
  IMAGE_NAME: ghcr.io/verana-labs/verana-node

jobs:
  build-canonical-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=ref,event=branch
            type=ref,event=pr

      - name: Compute LDFLAGS
        run: |
          VERSION="dev"
          COMMIT=$(git rev-parse --short HEAD)
          LDFLAGS="-X github.com/cosmos/cosmos-sdk/version.Name=verana \
          -X github.com/cosmos/cosmos-sdk/version.AppName=verana \
          -X github.com/cosmos/cosmos-sdk/version.Version=${VERSION} \
          -X github.com/cosmos/cosmos-sdk/version.Commit=${COMMIT}"
          echo "LDFLAGS=${LDFLAGS}" >> $GITHUB_ENV

      - name: Build and push canonical image (branch/PR)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/veranad.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            LDFLAGS=${{ env.LDFLAGS }}
